#main_body
{
    background-image: linear-gradient(to top,rgb(247, 243, 57) 0%,rgb(223, 161, 90) 100%);
    background-size:100%;
    overflow-x: hidden;
}

#logo
{ 
  max-width: 5rem;
  min-width: 5rem;
}

.glyphicon glyphicon-log-in
{
font-size: 50px;
color:#000;
}

.form-login
{
text-align: center;
color: #fff;
text-decoration: none;
}

.login
{
  text-align: right;
  padding-right: 20px;
}

body
{
  margin: 0;
  background-image: linear-gradient(to top,rgb(226, 224, 71) 0%,rgb(223, 161, 90) 100%);
  background-size:100% auto;
  overflow-x: hidden;
}

.row
{
    margin-left: -15px;
    margin-right: -15px;
    
}

/* .thumbnail{
 
  background: linear-gradient(#1f2ac0,#1f2ac0);
  
} */

.caption{
 
  background-image: linear-gradient(to top,#4CAF50 0%,rgb(9, 82, 3) 100%)!important;
  color: wheat !important;

}
.post_title{
 
  background-image: linear-gradient(to top,#4CAF50 0%,rgb(9, 82, 3) 100%)!important; 
  color: wheat !important;
}

.col-xs-12
{
  width: 100%;
}

.container
{
  padding:0px;
  width: 100%;
  overflow-x: hidden;
}

#footer
{
  position: sticky;
   bottom:0;
   margin-top: -150px;
   background: linear-gradient(#1fc042,#85df49);
   text-decoration:inherit;
   font-size: 14px;
   font-style: oblique;
   font-weight: bold; 
   padding: 17px;
   margin:0px;
   width: 100%;
   text-align: center;
   height: 40px;
   clear:both;
   z-index: 3;
}

#header
{ 
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
}

img.h_img
{
    max-width: 100%;
    max-height: 100%;
}

.navbar navbar-default
{
  background-image: linear-gradient(-20deg, #faebde 0%, #fbfcdb 100%) !important;
  width: 100%;
}

.row_header
{
  padding-left: 50px;
}

ul li a
{
  color: #fff;
  font-weight: bold;
}

a
{
  color:#fff;
}

a:hover
{
  color: black;
}

.navhover a:hover
{
  color:wheat !important;
  background-color: #4CAF50 !important;
}

.my-a
{
  color: #4CAF50 !important;
}
a:link
{
	text-decoration: none;
  color: #000000;
}

.carousel-inner > .item > img
{
    margin: 0 auto;
}

.navbar-brand
{
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-default
{
  background-image: linear-gradient(-20deg, #f8f6da 0%, #f7f6c1 100%)!important;
  border:0px;
}

h1
{
  text-align: center;
  font-size: 35px;
  color: white;
}

.text-shadow
{
  text-shadow: 1px 1px 2px black, 0 0 25px rgb(21, 56, 1), 0 0 5px rgb(14, 58, 1);
}

h2
{
  	margin: 0;
  	font-size: 30px;
  	color:  #0f0c11;
    text-align: center;
}


.sidebar_text
{
 color:   #0f0c11;
 font-size:12pt;
 text-align: justify;
}



.post
{
  margin-left:50px;
  margin-right:50px;
  border-radius: 8px;
}

.post_title
{
	margin: 0 0 15px 0;
	padding: 20px 0 10px 15px;
	font-size: 20px;
	color: #000;
  text-align: left;
}

.post_body
{
  background: linear-gradient( #1f2ac0,#1f2ac0);
  border-radius: 8px;
  text-align: justify;
}

.post2
{
  margin-left:50px;
  margin-right:50px;
  border-radius: 8px;
}

.post3
{
  color: #fff;
  margin-left:50px;
  margin-right:50px;
  border-radius: 8px;
}

.search
{
  color:#fff;
}

.profil
{
  color: #fff;
  text-decoration: solid;
  text-align: center;
  height:533px;
}

.table
{
  width: 80%;
}

.btn
{
  background-color: #4CAF50;
  border-color: #4CAF50;
}

th {
  background-color: #4CAF50;
  color: white;
}

.profil table td
{
  width:150px;
  color: black;
  border-right: 1px solid #4CAF50
}

.caption
{
  text-align: justify;
  padding: 10px;
  margin: 10px;
}

#carousel-example-generic
{
  background-image: linear-gradient(-225deg, #1f2ac0, #1f2ac0 100%)!important;
}

.thumbnail
{
  /* background-image: linear-gradient(to top,#4CAF50 0%,rgb(9, 82, 3) 100%)!important; */
  background-color: #4CAF50 !important;
  border-radius: 8px;
  border:0px;
}


#share-buttons img
{
width: 35px;
padding: 5px;
border: 0;
box-shadow: 0;
display: inline;
}

#map-canvas
{  height:600px;
   width: 100%;
   margin-top: 20px;
   margin-bottom:0px;
   margin-left: 20px;
 }

 h5
{
  	color: #fff;
    font-size: 20px;
}

.sidebar_text2
{
 color:  #fff;
 font-size:12pt;
 text-align: center;
}

.datagrid
{
	background: #fff;
	overflow: visible;
	max-height: 350px;
  overflow-y: scroll;
  box-shadow: 10px 10px 5px grey;
}

.datagrid table
{
  width: 100%;
	border-collapse:separate;
  text-align: center;
}

.datagrid table td, .datagrid table th
{
	padding: 10px;
}

.datagrid table thead th
{
	background: #ffa41b;
  color: #ffffff;
	font-size: 15px;
	font-weight: bold;
  text-align: center;
	border-right: 1px solid #bfbfbf;
  border-bottom: 1px solid #bfbfbf;
}

.datagrid table tbody td
{
	color: #404040;
	border-right: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
	font-size: 12px;
}

#content55
{
  margin: 0 auto;
	padding: 30px 0 0 15px;
	width: 930px;
	height: 100%;
	clear: both;
	overflow: hidden;
}

#post55
{
	float: left;
	width: 600px;
	margin-bottom: 15px;
}

#post55 .post
{
	width: 600px;
	padding: 0 0 10px 0;
	margin-bottom: 30px;
}

#main_footer
{
  background: linear-gradient(#1fc042cb,#85df49) !important;
 text-decoration:inherit;
 font-size: 14px;
 font-style: oblique;
 font-weight: bold;
 padding-top: 10px;
 padding-bottom: 10px;
 margin:0px;
 width: 100%;
 height: 40px;
 text-align: center;
}

.cta-inner {
	text-align: center;
  position: relative;
  padding: 3rem;
  margin: 0.5rem;
  background-color: rgba(255, 255, 255, 0.85);
}

.cta-inner:before {
  border-radius: 0.5rem;
  content: '';
  position: absolute;
  top: -0.5rem;
  bottom: -0.5rem;
  left: -0.5rem;
  right: -0.5rem;
  border: 0.25rem solid rgba(255, 255, 255, 0.85);
}

.dataTables_length
{
  margin-left: 3rem;
  color: #000000 !important;
}

.dataTables_filter
{
  margin-right: 3rem;
  color: #000000 !important;
}

.dataTables_info
{
  margin-top: 10rem;
  margin-left: 3rem;
  color: #000000 !important;
}

.pagination
{
  margin-right: 50rem !important;
}

.pagination>.active>a
{
  background-color: #4CAF50 !important;
  border-color: #4CAF50 !important;
}

table.dataTable thead th.ui-state-default 
{
  background: #4CAF50;
}

.dataTables_wrapper .dataTables_paginate .fg-button
{
  background: #4CAF50;
}

.first-caption
{
  margin-bottom: 7rem;
}

.center
{
  margin-left: 28rem;
}

